@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Tailwind custom preflight to avoid conflict with antdesign
 *
 * https://tailwindcss.com/docs/preflight
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
